* {
  box-sizing: border-box;
  margin: 0px;
}

/*Body con grid cálculo altura viewport*/
body {
  height: calc(100vh - .4em);
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'nav1 nav1 nav1'
    'header1 header1 header1'
    'cos1 cos1 cos1'
    'footer1 footer1 footer1';
  grid-template-rows: 4% 21.5% 72% 3%;
  grid-template-columns: 1fr 6fr 3fr;
  background-color: #fffbda;

}

/*grid para nav*/
nav {
  display: grid;
  grid-area: nav1;
}

.nav11 {
  display: grid;
  background: url(../images/logo.png) no-repeat left center;
  background-size: contain;

  justify-self: center;
  width: 20%;
}

.nav12 {
  display: grid;
  grid-template-areas:
    'nav121  nav123  nav125  nav127  nav129';
  grid-template-columns: 13% 13% 15% 15%;
  align-content: baseline;
  padding: 1%;
  font-size: small;
}

.nav12 a {
  color: #757575;
  text-decoration: none;
}

.nav12 a:hover {
  color: #7a143f;
}

.navtext {
  margin-right: 1.5vw;
  margin-left: .4vw;
  font-family: 'Montserrat';
}

.nav13 {
  display: grid;
  grid-template-areas:
    'nav131 nav132 nav133';
  grid-column: 3 / 4;
  align-items: baseline;
  padding: 2%;
}


.nav13 a {
  list-style: none;
  color: #757575;
  justify-self: center;
}

.nav13 i:hover {
  color: #7a143f;
}

header {
  grid-area: header1;
  display: grid;

}

.header1 {
  display: grid;
  margin: 0 1%;
  grid-template-areas:
    '. header11 .';
  justify-content: center;
  background: ghostwhite url(../images/capalera.jpg) no-repeat center center;
  background-size: cover;
}

.header11 {
  display: grid;
  align-content: center;
  opacity: 80%;
  font-family: 'Montserrat';
  color: #cabdd0;
  font-size: .7em;

}

/*Fondo article aside*/
.cos {
  background-color: #dedede;
  display: grid;
  grid-area: cos1;
  grid-template-areas:
    'article1 aside1';

  grid-template-columns: 2fr 24%;

}

.cos1 {
  margin: 2%;
}

/*Grid article*/
article {
  display: grid;
  grid-area: article1;
  grid-template-areas:
    'section1 section2'
    'section3 section4'
    'section5 section5';
  grid-template-rows: 1fr 1fr 4%;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  margin: 1% 1% .5% 1%;

}

.section1,
.section2,
.section3,
.section4 {
  display: grid;
  align-content: end;
  border: 2px solid #9d3125;
}

.section1 {
  background: url(../images/cherry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 {
  background: url(../images/food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section3 {
  background: url(../images/japan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section4 {
  background: url(../images/fuji.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fecha {
  color: #ffff;
  font-family: 'Montserrat';
  margin-bottom: 1%;
  margin-left: 2%;
}

.cenefa {

  align-items: center;
  color: #ffff;
  background: #9d3125;
  font-family: 'Montserrat';
  font-size: small;
}

.text {
  margin-left: 2%;
}

.parraf {
  justify-content: space-between;
  padding: 1.2%;
  font-size: small;
  line-height: 1.2em;
  font-family: 'Montserrat';
  background: #d3cecd;
  color: #000;
}

.leermas {
  text-decoration: none;
  color: #000;
}

/*Footer article*/
.section5 {
  grid-column: 1 / 3;
  margin: 1% 0 1% 0;
  background: #9d3125;
  font-family: 'Montserrat';
  color: #ffff;
  align-self: center;
  text-align: center;
  padding: .2%;
  font-size: small;
}

aside {
  display: grid;
  grid-area: aside1;
  padding: 3%;
}

.aside1 {
  line-height: 1.2em;
}

.aside1 div {
  background: #814c41;
  padding: 2%;
  color: #ffff;
  font-family: 'Montserrat';
  font-size: small;
}

.aside1 div:nth-child(2) {
  margin-top: 7%;
}

footer {
  grid-area: footer1;
}

/* Contenedor peu con footer*/
.footer1 p {
  font-family: 'Montserrat';
  font-size: small;
  text-align: center;
}

/*Media Query tablet*/
@media screen and (min-width: 640px) and (max-width: 1280px) {

  body {
    height: calc(100vh - 0em);
    width: 100%;
    padding: 0;
  }

  /*redimension grid container*/
  .grid-container {
    grid-template-rows: 10% 10% 78% 2%;
  }

  /*Adaptación nav*/
  .nav11 {
    width: 80%;
  }

  .nav12 {
    padding: 0;
    align-content: center;
    grid-template-columns: auto;
    font-size: x-large;
  }

  .nav13 {
    padding: 0;
    align-content: center;
    grid-template-columns: auto;
    font-size: x-large;
  }

  /*Adaptacion header*/
  .header1 {
    margin: 0;
  }

  .header11 {
    font-size: x-large;
  }

  /*Modificaciones cos*/
  .cos1 {
    grid-template-areas:
      'article1'
      'aside1';
    grid-template-columns: auto;
    grid-auto-rows: 84% 20%;
    margin: 2% 0 2% 0;
  }

  .article1 {
    margin: 0;
  }

  aside {
    padding: 0;
  }

  .aside1 div {
    padding: 0;
  }

  .aside1 div:nth-child(2) {
    margin-top: 1%;
  }
}

/*Media Queris mobil*/
@media screen and (min-width: 320px) and (max-width: 640px) {
 
  body {
    height: calc(100vh - 0em);
    width: 100%;
    padding: 0;
  }

  /*Redimensión grid container*/
  .grid-container {
    grid-template-rows: 10% 10% 78% 2%;
  }

  /*Redimensión nav*/
  .nav1 {
    grid-template-columns: 10% 80% 10%;
  }

  .nav11 {
    width: 100%;
  }

  .nav130 {
    margin-right: 0;
  }

  .nav13 {
    align-items: center;
    font-size: x-small;
  }

  .nav12 {
    font-size: x-small;
    align-content: center;
    grid-template-columns: 17% 18% 21% 20%;
  }

  

  /*Redimensión header*/
  .header11 {
    font-size: medium;
  }

  /*Modificaciones cos*/
  .cos1 {
    grid-template-areas:
      'article1'
      'aside1';
    grid-template-columns: auto;
    grid-auto-rows: 78% 20%;
    margin: 2% 0 2% 0;
  }

  .cenefa {
    font-size: x-small;
  }

  /*Desactiva parrafo*/
  .parraf p {
    display: none;
  }

  .leermas {
    font-size: x-small;
  }

  .pie p {
    font-size: x-small;
  }

  aside {
    font-size: x-small;
    padding: 1%;
  }

  .aside1 div {
    font-size: x-small;
    padding: 0;
  }

  .aside1 div:nth-child(2) {
    margin-top: 1%;
}
  /*Texto footer*/
  .footer1 p {
    font-size: x-small;
  }

}