* {
    box-sizing: border-box;
    margin: 0px;
}

/*Body con grid cálculo altura viewport*/
body {
    display: flex;
    height: calc(100vh - 1px);
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background: #e3a446;
    /*Esconde imágen de trabajo
    background: url(../images/bola.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*Propiedades div, animación y pelotita*/
body div {
    display: flex;
    position: absolute;
    animation: bote1y 1s ease-in infinite alternate, bote1x 7.05s linear infinite alternate;
    /*Svg**/
    background-image: url(../images/tennis-ball-157884.svg);
    filter: drop-shadow(5px 5px 10px #444);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    /*  border-radius: 50%;
    background-color: yellowgreen;*/
}


/*Valores para eje Y*/
@keyframes bote1y {
    0% {
        height: 100px;
        top: 0;
    }

    96% {
        transform: scaleY(1) rotate(60deg);
       /*! top: calc(100vh -100px); */
    }

    100% {
        /*! transform: scaleY(.5); */
        transform: scaleX(1.5);
        top: calc(100vh - 80px);
    }

}

/*Valores para eje X*/
@keyframes bote1x {
    0% {
        left: 0;
        width: 100px;
    }

    100% {
        left: 96.3%;
        width: 100px;
    }

}