* {
    box-sizing: border-box;
    margin: 0px;
}

/*Body con grid cálculo altura viewport*/
body {
    display: flex;
    height: calc(100vh - .4em);
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background: #e3a446;
    
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*Propiedades div, animación y pelotita*/
body div {
    display: flex;
    position: relative;
    animation: bote1y 1s ease-in infinite alternate, bote1x 7.05s linear infinite alternate;
    /*Svg**/
    background-image: url(../images/tennis-ball-157884.svg);
    filter: drop-shadow(5px 5px 10px #444);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    /*  border-radius: 50%;
    background-color: yellowgreen;*/
}

/* rebote y deformación vertical en Y*/
@keyframes bote1y {
    0% {
        height: 100px;
        width: 100px;
        top: 0;
    }

    98% {
        height: 80px;
        width: 100px;
    }

    100% {
        height: 50px;
        top: calc(100vh - 60px);
        
    }

}

@keyframes bote1x {
    0% {
        left: 0;
        transform: scale(1, 1.4);
    }

    2% {
        transform: scale(1, 1);
    }

    98% {
        transform: scale(1, 1);
    }

    100% {
        left: 96.3%;
        /* Deformación rebote lateral*/
        transform: scale(1, 1.4);
    }

}