* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    height: calc(100vh - 0.1em);

    background: brown;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    border: saddlebrown;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #3b81d1;
}

.cap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    background: black;
    border: 2rem solid black;
}


.cont1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12em;
    background: #44465e;
    border: 1px solid black;
  }

.cont1 div:nth-child(1n+1) {
    height: 4.5vh;
    width: 20%;
    background: #ef763a;
}

.cont1 div:nth-child(2) {
    height: 4.5vh;
    width: 55%;
}

.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    background: #ef763a ;
    
    
}

.cont2 div {
    height: 35%;
    width: 97%;
    background: #fecb5e;

}

.cos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2rem solid black;
    height: 40vh;
    background: black;
}


article {
    display: flex;
    justify-content: space-around;
}

.article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66vw;
    height: 33vh;
    background: slateblue;
}

.aside {
    display: flex;
    width: 30vw;
    height: 33vh;
    background: #ef763a;
}
.peu {
    display: flex;
    align-items: center;
    height: 5vh;
    background: black;
    padding: 2% 1%;
}

.peu div {
    height: 2.2vh;
    width: 100%;
    background: #ef763a;
}