* {
    box-sizing: border-box;
    margin: 0px;
}

/*Body con grid cálculo altura viewport*/
body {
    display: flex;
    height: calc(100vh - 0em);
    box-sizing: border-box;
    animation: barras 2s 10s 1s;
   
}

/*Bloque colorines*/
.bloc1 {
    background-color: #244F75;
    width: 20%;
    border-right-width: .2vw;
border-right-style: solid;
}

.bloc2 {
    background-color: #60BFBF;
    width: 20%;
    border-right-width: .2vw;
border-right-style: solid;
}

.bloc3 {
    background-color: #8C4B7E;
    width: 20%;
    border-right-width: .2vw;
border-right-style: solid;
}

.bloc4 {
    background-color: #F8BB44;
    width: 20%;
    border-right-width: .2vw;
border-right-style: solid;
}

.bloc5 {
    background-color: #F24B4B;
    width: 20%;
}

/*Características cmunes a los bloques*/
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 8vh;
    color: #ffff;
    border: 1% #ffff;
}


/*Cocolacion pseudo elemento ::before*/

/*AniBarras*/

@keyframes barras {
    0% {

        

    }

    20%{

    }

    40% {
        
    }

    60%{

    }

    80% {

    }

    100% {


    }
}

