// Archivo Variables
// Posicionamiento
$posicionrel: relative;
$posicionab: absolute;

// Text decoration
$textosin: none;

// Overflow
$Desborescon: hidden;

// Display
$Mostralineabloque: inline-block;