// Medidas
$alturastrip: 100vh;
$anchostrip: 100vw;

// Display
$flex: flex;

// Posicion
$relativa: relative;
$absoluta: absolute;

// Overflow
$desbor: hidden;

// Alineación
$alicentro: center;

// Justificado
$justicentro: center;

// Colores
$it: #244F75;
$a: #60BFBF;
$ca: #8C4B7E;
$de: #F8BB44;
$my: #F24B4B;



