// Medidas
$alturastrip: 100vh;
$anchostrip: 100vw;

// Display
$flex: flex;

// Posicion
$relativa: relative;
$absoluta: absolute;

// Overflow
$desbor: hidden;

// Alineación
$alicentro: center;

// Justificado
$justicentro: center;

// Colores en hsl
$it: hsl(208, 53, 30);
$a: hsl(180, 43, 56);
$ca: hsl(313, 30, 42);
$de: hsl(40, 93, 62);
$my: hsl(0, 87, 62);

// Fuente
$letra: 'Lato';



