//@use "sass:map";
@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import "mixins";
@import "variables";

* {
	box-sizing: border-box;
}

body {
	margin: 10px 0 0 0;
	overflow: $desbor;
}

h1 {
	@include letra;
}

.strips {
	@include bandas;

	.strip {
		@include banda;

		.strip_content {
			@include contbanda;
		}
	}

	.strip_content {
		&:before {
			@include efectobanda;
		}

		&:hover {
			&:before {
				@include efectohover;
			}
		}
	}
}

// For contenido bandas
@for $i from 1 through 5 {
	.strip:nth-child(#{$i}) .strip_content {

		animation-timing-function: $anitime;
		background-color: map-get($tema-colors, "#{$i}");
		animation-name: map-get($animation-name, "#{$i}");
		animation-duration: map-get($animation-times, "#{$i}");

	}
}

// 👇 matters 
// For de los keyframes
@for $i from 1 through 5 {
	@keyframes #{map-get($animation-name, "#{$i}")}
 {
		from {
			transform: map-get($traslado, "#{$i}");
		}
	}
}