* {
    box-sizing: border-box;
    margin: 0px;
}

/*Body con grid cálculo altura viewport*/
body {
    display: flex;
    height: calc(100vh - .4em);
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-image: url(../images/basepelotita_Mesa\ de\ trabajo\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body div {
    display: flex;
    position: relative;
    animation-name: pilota;
    animation-duration: 28s;
    background-image: url(../images/tennis-ball-157884.svg);
    filter: drop-shadow(5px 5px 10px #444);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    animation-iteration-count: infinite;
    /* animation-direction: alternate;*/

}

@keyframes pilota {

    6% {
        transform: translate(13vw, 21vh);
    }
   
    
    12% {      
        
    transform: translate(21vw, 48vh);
    }
    
    18% {
        transform: translate(25vw, 69vh);
    }

  25% {
        transform: translate(29vw, 98vh);
    }
    
    31% {
        transform: translate(48vw, 65vh);
    }
    
    37% {
       transform: translate(63vw, 48vh);
        
    }
    
     43% {
        transform: translate(78vw, 34vh);
    }
    
    

   50% {
        transform: translate(96vw, 23vh);
       
    }
    
    56% {
        transform: translate(86vw, 37vh);
    }
    
     62% {
        transform: translate(77vw, 52vh);
    }
 68% {
        /*! left: 0; */
        /*! top: -100%; */
        transform: translate(67vw, 76vh);
    }
    75% {
        transform: translate(61vw, 94vh);
       
    }
    
    81% {
        transform: translate(50vw, 70vh);
    }
    
    87% {
        
    transform: translate(36vw, 42vh);
    }
    
    93% {
        transform: translate(17vw, 17vh);;
    }
}