* {
    box-sizing: border-box;
    margin: 0px;
}

/*Desactiva estilo de listas*/
ul {
    list-style: none;
}

/* Definicion atributos body*/
body {
    font-size: 100%;
    font-family: 'Raleway''Dosis', sans-serif;
    background-color: #E5E6E8;
    height: calc(100vh - 11px);
    box-sizing: border-box;
    padding: 1.7vh;

}

/* Ancho contenedor, márgenes automáticos*/
.contenedor {
    width: 46vw;
    margin: auto;


}

/*Altura, margen abajo y fondo*/
.header {


    height: 12vh;
    margin-bottom: 2vh;
    background: url(../images/header.jpg) no-repeat round center;
    background-size: cover;


}

/*Quita decoración texto,*/

.header a {
    float: left;
    text-decoration: none;
}

/*Tamaño logo, color, posición*/
.logo a {
    width: 200px;
    height: 60px;
    background-image: url(../images/logo.svg);
    margin-left: 2vw;
    margin-top: 3em;
}

.social {

    margin-right: 2vw;
}

.social li {

    float: right;
}

/*Creación bolas y posición*/
.social a {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 3.3em;
    /*background: #e4e5e7;*/

}

#inst {
    background-image: url(../images/instagram.svg);
}

#twit {
    background-image: url(../images/twitter.svg);
}

#linke {
    background-image: url(../images/linkedin.svg);
}

#inst:hover,
#twit:hover,
#linke:hover {
    background-color: #578efa;
}

/*Definición caja menu navegación, altura, margen inferior, color, distribución, alineación*/
.navegacion {
    display: flex;
    justify-content: space-between;
    height: 4.1vh;
    margin-bottom: 2vh;
    background: #e5e6e8;
    text-align: center;
    font: 1.4em 'Dosis';
}

/*Definión elementos caja: tamaño y color*/
.navegacion a {
    align-items: center;
    padding-top: 1vh;
    text-decoration: none;
    background: #eb740c97;
    transition: .5s;
    width: 19.6%;
    height: 4.1vh;
}

.navegacion a:hover {

    background: #088585;

}


/*Definición aside*/
.aside {
    display: flex;
    margin-bottom: 2vh;
    height: 17rem;
}

/*Elemenos dentro de asid*/


.aside p {
    font-family: 'Raleway';
    line-height: 1.2rem;

    padding: 2em;
    background: #578efa;
    opacity: 0.7;
    color: brown;
}


.asd1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    background-image: url(../images/aside1.jpg);
    background-size: cover;
    margin-right: 1%;

}

#foot1 a, 
#foot2 a,
#foot3 a {
    background-color: #149bc15a;
    transition: .5s;
    padding: .5em .5em 0 .5em;
    font-family: 'Dosis';
    text-decoration: none;
}

#foot1:hover,
#foot2:hover,
#foot3:hover {
    background-color: #b90e725a;
}



.asd2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    background-image: url(../images/aside2.jpg);
    background-size: cover;
}

.asd3 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    background-image: url(../images/aside3.jpg);
    background-size: cover;
    margin-left: 1%;

}

/*Article caracteristicas*/
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    margin-bottom: 2vh;
    background: #848587;
    background-image: url(../images/article.jpg);
    background-size: cover;
}

.article {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 45vh;
    background: #3a3dcc;
    opacity: 0.8;
    margin: auto;
    padding: .2em;
    font-family: Raleway;
    font-size: larger;
}

.article1,
.article2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    color: #3a3dcc;
    background-color: burlywood;
    border-bottom: .4em solid #3a3dcc;
}

.article1 {
    background-image: url(../images/article-1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
}

.article2 {
    background-image: url(../images/article-2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}


.article header a {
    background-color: #088585;
    transition: .5s;
    padding: .5em;
    color: #dababa;
    text-decoration: none;
    opacity: .9;
}

.article header:hover {
    background-color: coral;
}

.article1 div, .article2 div {
    align-self: self-end;
}

.article p {
    
    padding: 2%;
    line-height: 1.6em;

}

/*Medidas y color columna*/


/*Caracteristicas footer*/
.footer {
    background: #0d083f31;
    display: flex;
    height: 7vh;
}

/*Responsive*/
@media screen and (max-width:500px) {

    .contenedor {
        width: 100%;
        float: none;
        background: none;
        display: block;
    }

    .header {
        width: 100%;
        display: inline-flex;

    }

    .logo a {
        width: 8em;
        height: 2.8em;
        margin-top: 2em;
        margin-left: 0px;
    }

    .social {
        margin-right: 3em;
        width: inherit;
    }

    .social ul {
        display: block;
        margin-right: -22%;
    }

    .navegacion,
    .aside,
    .article {
        display: contents;
    }

    .navegacion a {
        display: block;
        padding: revert;
        width: auto;
        font-family: 'Dosis';
        font-size: 7em;
        letter-spacing: .1em;
        margin-bottom: .2em;
    }

    .aside a {
        display: block;
        width: 328px;
        height: 190px;
        margin-bottom: 6px;
    }

    .article a {
        display: block;
        width: 98%;
        margin: 0px;
        margin-bottom: 6px;
    }

}