* {
    box-sizing: border-box;
    margin: 0px;
}

/*Desactiva estilo de listas*/
ul {
    list-style: none;
}

/* Definicion atributos body*/
body {
    font-size: 100%;
    font-family: 'Raleway' 'Dosis', sans-serif;
    background-color: #E5E6E8;
    height: calc(100vh - 11px);
    box-sizing: border-box;
    padding: 1.7vh;
   
}

/* Ancho contenedor, márgenes automáticos*/
.contenedor {
    width: 46vw;
    margin: auto;


}

/*Altura, margen abajo y fondo*/
.header {

    height: 12vh;
    margin-bottom: 2vh;
    background-image: url(../images/header.jpg);


}

/*Quita decoración texto,*/

.header a {
    float: left;
    text-decoration: none;
}

/*Tamaño logo, color, posición*/
.logo a {
    width: 200px;
    height: 60px;
    background-image: url(../images/logo.svg);
    margin-left: 2vw;
    margin-top: 28px;
}

.social {
    display: flow-root;
    margin-right: 4%;
}

.social li {

    float: right;
}

/*Creación bolas y posición*/
.social a {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 38px;
    /*background: #e4e5e7;*/

}

#inst {
    background-image: url(../images/instagram.svg);
}

#twit {
    background-image: url(../images/twitter.svg);

}

#linke {
    background-image: url(../images/linkedin.svg);

}

/*Definición caja menu navegación, altura, margen inferior, color, distribución, alineación*/
.navegacion {
    display: flex;
    justify-content: space-between;
    height: 4.1vh;
    margin-bottom: 2vh;
    background: #e5e6e8;
    font-size: 1.2vw;
    text-align: center;

}

/*Definión elementos caja: tamaño y color*/
.navegacion a {
    align-items: center;
    padding-top: 1.5vh;
    text-decoration: none;
    
    background: #969799;
    width: 19.6%;
    height: 4.1vh;
}

/*Definición aside*/
.aside {
    display: flex;
    margin-bottom: 2vh;
    text-decoration: none;
}

/*Elemenos dentro de asid*/





.asd1 {
    display: block;
    text-align: center;
    background-image: url(../images/aside1.jpg);
    background-repeat: no-repeat;
    margin-right: 1%;
}

#foot1, #foot2, #foot3 {
        background-color: #2d3436;
        padding: .5em;
}

.asd2 {
    display: block;
    text-align: center;
    background-image: url(../images/aside2.jpg);
    background-repeat: no-repeat;
    margin: auto;
    text-decoration: nne;


}

.asd3 {
    display: block;
    text-align: center;
    background-image: url(../images/aside3.jpg);
    background-repeat: no-repeat;
    margin-left: 1%;

}

/*Article caracteristicas*/
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    margin-bottom: 2vh;
    background: #848587;
}

/*Medidas y color columna*/
.article a {
    width: 60%;
    height: 45vh;
    background: #4b4b4d;
    margin: auto;
}

/*Caracteristicas footer*/
.footer {
    background: #2d3436;
    display: flex;
    height: 7vh;
}

/*Responsive*/
@media screen and (max-width:500px) {

    .contenedor {
        width: 100%;
        float: none;
        background: none;
        display: block;
    }

    .header {
        width: 100%;
        display: inline-flex;

    }

    .logo a {
        width: 150px;
        height: 40px;
        margin-top: 12%;
        margin-left: 0px;
    }

    .social ul {
        display: block;
        margin-right: -22%;
    }

    .navegacion,
    .aside,
    .article {
        display: contents;
    }

    .navegacion a {
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }

    .aside a {
        display: block;
        width: 328px;
        height: 190px;
        margin-bottom: 6px;
    }

    .article a {
        display: block;
        width: 98%;
        margin: 0px;
        margin-bottom: 6px;
    }

}